<div class="page-wrapper">
    {{> header }}

<div class="listing-page concepts-page">
    <div class="listing-header">
        <h1>Concepts</h1>
        <div
            data-vue-component="ViewToggle"
            data-target-container=".concepts-page"
            data-storage-key="conceptViewPreference">
        </div>
    </div>

    <div id="gb-wiki-listing-content" class="listing-content gb-wiki-content">
        <aside class="listing-sidebar gb-sidebar">
            <div
                data-vue-component="ConceptFilter"
                data-current-letter="{{{currentLetter}}}"
                data-current-sort="{{{currentSort}}}"
                data-current-require-all-games="{{{currentRequireAllGames}}}"
                data-current-games="{{{currentGames}}}">
            </div>
            <div
                data-vue-component="DatabaseAddPrompt"
                data-object-type="concept"
                data-link-url="{{{addConceptUrl}}}">
            </div>
        </aside>

        <div class="listing-main-wrapper"
            data-vue-component="ConceptList"
            data-initial-data="{{{vue.conceptsJson}}}"
            data-total-count="{{{totalCount}}}"
            data-current-page="{{{currentPage}}}"
            data-total-pages="{{{totalPages}}}"
            data-page-size="{{{pageSize}}}">
        </div>
    </div>
</div>
</div>
