<div id="mw-header gb-header" class="gb-header">    
    <div class="search-bar">
        <input
            id="gb-header-search"
            v-model="searchText"
            type="text"
            placeholder="" /><button id="gb-header-btn" class="gb-header-btn">Search</button>
    </div>
</div>