<div class="page-wrapper">
	{{> header }}

    <div class="landing-nav">
        {{> wiki-button-group }}
    </div>

<div class="listing-page games-page">
    <div class="listing-header">
        <h1>{{siteName}}: All Games</h1>
        <div
            data-vue-component="ViewToggle"
            data-target-container=".games-page"
            data-storage-key="gamesViewPreference">
        </div>
    </div>

    <div class="listing-content">
        <aside class="listing-sidebar">
            <div
                data-vue-component="GameFilter"
                data-platforms-data="{{{vue.platformsJson}}}">
            </div>
        </aside>

        <div class="listing-main-wrapper"
            data-vue-component="GameList"
            data-initial-data="{{{vue.gamesJson}}}"
            data-pagination-info="{{{vue.paginationJson}}}">
        </div>
    </div>
</div>
</div>
