<div class="page-wrapper">
    {{> header }}

<div class="listing-page new-releases-page">
    <div class="listing-header">
        <h1>Latest Games</h1>
        <div
            data-vue-component="ViewToggle"
            data-target-container=".new-releases-page"
            data-storage-key="releaseViewPreference">
        </div>
    </div>

    <div id="gb-wiki-listing-content" class="listing-content gb-wiki-content">
        <aside class="listing-sidebar gb-sidebar">
            <div
                data-vue-component="ReleaseFilter"
                data-platforms-data="{{{vue.platformsJson}}}">
            </div>
        </aside>

        <div class="listing-main-wrapper"
            data-vue-component="ReleaseList"
            data-initial-data="{{{vue.weekGroupsJson}}}">
        </div>
    </div>
</div>
</div>
