<nav class="wiki-nav">
	<ul class="wiki-nav__list">
		{{#buttons}}
		<li class="wiki-nav__item">
			<a href="{{url}}" class="wiki-nav__link{{#isActive}} wiki-nav__link--active{{/isActive}}">{{label}}</a>
		</li>
		{{/buttons}}
	</ul>
</nav>
