.cookie-consent-dialog {
  color: #000;
}

.oo-ui-processDialog
  .oo-ui-actionWidget.oo-ui-labelElement
  > .oo-ui-buttonElement-button {
  padding: 10px 12px !important;
}

.oo-ui-processDialog-actions-primary {
  top: 1px !important;
}
