# Legacy Giant Bomb database (local giantbomb-mysql container)
LEGACY_DB_HOST=127.0.0.1
LEGACY_DB_PORT=3306
LEGACY_DB_USER=root
LEGACY_DB_PASSWORD=
LEGACY_DB_NAME=giantbomb

# Remote prod MediaWiki API
MW_API_URL=https://giantbomb.com/wiki/api.php
MW_BOT_USER=GiantBomb@ImageImport
MW_BOT_PASSWORD=
